<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/index_style.css">
    <title>Document</title>
</head>

<body>
    <div id="msform">
        <fieldset id="homeFieldSets">
            <h2 class="fs-title">HOME PAGE</h2>
            <input type="submit" class="fs-title" id="logout" onclick="window.location.href='/signIn'" value="{{ user_name }}, log out?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play snake?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/tic-tac-toe'" value="{{ user_name }}, Play tic-tac-toe?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
            <input type="submit" class="fs-title" id="snake" onclick="window.location.href='/snake'" value="{{ user_name }}, Play?">
        </fieldset>
    </div>
</body>
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

</html>