<!DOCTYPE HTML>
<html>

<head>
    <meta name="google-site-verification" content="dhBpHz0ZxShjePQnqQuzlofnjCYldFhEFZh5vS6EqpA" />
    <meta name="theme-color">
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="./css/index_style.css">
</head>

<body>
    <!-- multistep form -->
    <form id="msform" method="POST">
        <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <input type="text" id="login" name="login" placeholder="Your login" />
            <input type="text" id="email" name="email" placeholder="Email" />
            <input type="password" id="password" name="password" placeholder="Password" />
            <input type="password" id="confirm" name="confirm" placeholder="Confirm Password" />
            <input type="submit" name="next" class="next action-button" value="Next" />
        </fieldset>
    </form>
</body>
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
<script type="text/javascript" src="./scripts/password_check.js"></script>

</html>